@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<html lang="ru">

<body>
    <div class="main">

        <div class="content">
            <div class="content_resize">
                <div class="mainbar">
                    <div class="article">
                        <h2><span>МЕДИЦИСКИЙ </span> портал</h2>

                        <div class="clr"></div>
                       
                        <div class="post_content">
                           
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-xl">
                                       Аптека №1

                                        <div class="img"><img src="~/Content/images/sample.png" width="220" height="147" alt="" class="fl" /></div>


                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-xl">
                                       Аптека №2
                                        <div class="img"><img src="~/Content/images/sample.png" width="220" height="147" alt="" class="fl" /></div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-xl">
                                        Аптека №3
                                        <div class="img"><img src="~/Content/images/sample.png" width="220" height="147" alt="" class="fl" /></div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-xl">
                                        Аптека №4
                                        <div class="img"><img src="~/Content/images/sample.png" width="220" height="147" alt="" class="fl" /></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-xl">
                                        Аптека №5
                                        <div class="img"><img src="~/Content/images/sample.png" width="220" height="147" alt="" class="fl" /></div>
                                    </div>
                                </div>
                            </div>

                               
                            <div class="clr"></div>
                        </div>

                </div>
                <div class="sidebar">
                    <div class="clr"></div>
                    <div class="gadget">
                        <h2 class="star"><span>Главное</span> Меню</h2>
                        <div class="clr"></div>
                        <ul class="sb_menu">
                            <li>
                                <a href="home.html">Главная</a>
                            </li>
                            <li>
                                <a href="call.html">Вызвать врача на дом</a>
                            </li>
                            <li>
                                <a href="/enroll/">Записаться к врачу</a>
                            </li>
                            <li>  <a href="/contact/">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="gadget">
                        
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>


    </div>
</body>
</html>

